---
layout: default
title: Суровая реальность
skipHeader: true
---
<div class="mainBar">
	<div class="about vcard">
		<h1 class="fn">Денис Баженов</h1>
		<p>
			Разработчик программного обеспечения. В данный момент специализируюсь в области
			извлечения информации, а также в области поисковых технологий. В этом блоге я веду заметки, связанные
			с моей профессиональной деятельностью.
		</p>
		<div id="icons">
			<a href="http://twitter.com/{{ site.author.twitter }}" class="twitter"></a>
			<a href="https://plus.google.com/113212801740110086350" class="google"></a>
			<a href="mailto:{{ site.author.email }}" class="email"></a>
			<a href="http://github.com/{{ site.author.github }}" class="github"></a>
			<a href="http://flickr.com/{{ site.author.flickr }}" class="flickr"></a>
		</div>
		<div  style="clear: both;"></div>
	</div>
</div>

<div class="content">

	<h2>Последние публикации</h2>
	
	<table>
		<tr valign='top'>
			<td>
				{% for post in site.posts limit:3 %}
					<div class="postOverview">
						<a href="{{post.url}}" class="postLink">{{ post.title }}</a>
						<div class="meta">
							<span class="date">{{ post.date | date_to_string }}</span>
						</div>
						<p>
							{{ post.excerpt }}
							<a href="{{post.url}}" class="readLink">Читать полностью &raquo;</a>
						</p>
					</div>
					{% endfor %}
			
				<h2>Архив</h2>
				{% for post in site.posts offset:3 %}
					<div class="archive">
						<a href="{{post.url}}" class="postLink">{{ post.title }}</a>
						<span class="date">{{ post.date | date_to_string }}</span>
				 	</div>
				{% endfor %}
			</td>
			<td>
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 6,
					interval: 30000,
					width: 250,
					height: 300,
					theme: {
						shell: {
							background: '#2d2d2b',
							color: '#ffffff'
						},
						tweets: {
							background: '#ffffff',
							color: '#000000',
							links: '#0000ee'
						}
					},
					features: {
						scrollbar: true,
						loop: false,
						live: true,
						behavior: 'all'
					}
				}).render().setUser('denis_bazhenov').start();
				</script>	
			</td>
		</tr>
	</table>
	
</div>
