{{ content }}

		<footer>
    			<div class="contact">
    				<p>
    					{{ site.author.name }}<br />
    					tagline<br />
    					{{ site.author.email }}
    				</p>
    			</div>
    			<div class="contact">
    				<p>
    					<a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
    					<a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
    					<a href="http://flickr.com/photos/{{ site.author.flickr }}">flickr.com/photos/{{ site.author.flickr }}</a>
    				</p>
    			</div>
    			<div class="rss">
    				<a href="http://feeds.feedburner.com/severe-reality">
    					<img src="/images/rss.png" alt="Subscribe to RSS Feed" />
    				</a>
    			</div>
    		</footer>
